/* reset */
img {
    max-width: 100%;
}
/* // reset */

/* utility */
:root {
    --default: #ffffff;
    --header: #2c3e50;
    --aq-sec: #1abc9c;
    --cnt-sec: #3a546d;
    --ft-sec: #2c3e50;
}   
/* // utility */

/* common rules */
header {
    background-color: var(--header);
    color: var(--default);
}

footer {
    background-color: var(--ft-sec);
    color: var(--default);
}
.container {
    margin-right: 0;
}
/* //common rules */

/* main */
.jumbotron img {
    max-width: 200px;
    margin-bottom: 1rem;
}
/* // main */
/* specific rules */
.ms-aqua {
    background-color: var(--aq-sec);
    color: var(--default);
}

.ms-contact {
    background-color: var(--cnt-sec);
    color: var(--default);
}

.ms-list {
    list-style-type: none;
}
/* // specific rules */

